
.navbar{
    height: 60px;
    width: 99vw;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background-color: #a0b6cd;
}
.navbar ul{
    display: flex;
}
.navbar__link
{
    color: #000000;
    padding: 12px;
    text-decoration: none;
}
.navbar__link:hover
{
   background-color: #bbe8ea;
    border: 1px solid #0191d5;
    border-radius: 8px;
}
@media (max-width: 768px)
{
    .navbar
    {
        width: 100vw;
        font-size: 18px;
        padding: 0 14px;
    }
}

